In [13]:
#import package needed
import sqlite3 as sql
import pandas as pd

In [14]:
#load the database
database = 'dj.db'
table = 'dj'
connection = sql.Connection(database)
cursor = connection.cursor()

In [18]:
#PART A
#use sql query to fetch the data
cursor.execute('SELECT id, ticker, name FROM tickers')
rows = cursor.fetchall()
print(rows)

#place sql results into a dataframe
df = pd.DataFrame(rows)
df.columns = ['id','ticker','name']
df.set_index('ticker', inplace = True)
df

[(1, 'M', "Macy's Inc"), (2, 'AXP', 'American Express Company'), (3, 'AAPL', 'Apple Inc.'), (4, 'BA', 'The Boeing Company'), (5, 'CAT', 'Caterpillar Inc.'), (6, 'CVX', 'Chevron Corporation'), (7, 'CSCO', 'Cisco Systems Inc.'), (8, 'KO', 'Coca-Cola Company (The)'), (9, 'DIS', 'The Walt Disney Company'), (10, 'DOW', 'Dow Inc.'), (11, 'XOM', 'Exxon Mobil Corporation'), (12, 'GS', 'Goldman Sachs Group Inc. (The)'), (13, 'HD', 'Home Depot Inc. (The)'), (14, 'IBM', 'International Business Machines Corporation'), (15, 'INTC', 'Intel Corporation'), (16, 'JNJ', 'Johnson & Johnson'), (17, 'JPM', 'JP Morgan Chase & Co.'), (18, 'MCD', "McDonald's Corporation"), (19, 'MRK', 'Merck & Company Inc. (new)'), (20, 'MSFT', 'Microsoft Corporation'), (21, 'NKE', 'Nike Inc.'), (22, 'PFE', 'Pfizer Inc.'), (23, 'PG', 'Procter & Gamble Company (The)'), (24, 'TRV', 'The Travelers Companies Inc.'), (25, 'UTX', 'United Technologies Corporation'), (26, 'UNH', 'UnitedHealth Group Incorporated (DE)'), (27, 'VZ', 'Verizon Communications Inc.'), (28, 'V', 'Visa Inc.'), (29, 'WMT', 'Walmart Inc.'), (30, 'WBA', 'Walgreens Boots Alliance Inc.')]

        id                                         name
ticker
M        1                                   Macy's Inc
AXP      2                     American Express Company
AAPL     3                                   Apple Inc.
BA       4                           The Boeing Company
CAT      5                             Caterpillar Inc.
CVX      6                          Chevron Corporation
CSCO     7                           Cisco Systems Inc.
KO       8                      Coca-Cola Company (The)
DIS      9                      The Walt Disney Company
DOW     10                                     Dow Inc.
XOM     11                      Exxon Mobil Corporation
GS      12               Goldman Sachs Group Inc. (The)
HD      13                        Home Depot Inc. (The)
IBM     14  International Business Machines Corporation
INTC    15                            Intel Corporation
JNJ     16                            Johnson & Johnson
JPM     17                        JP Morgan Chase & Co.
MCD     18                       McDonald's Corporation
MRK     19                   Merck & Company Inc. (new)
MSFT    20                        Microsoft Corporation
NKE     21                                    Nike Inc.
PFE     22                                  Pfizer Inc.
PG      23               Procter & Gamble Company (The)
TRV     24                 The Travelers Companies Inc.
UTX     25              United Technologies Corporation
UNH     26         UnitedHealth Group Incorporated (DE)
VZ      27                  Verizon Communications Inc.
V       28                                    Visa Inc.
WMT     29                                 Walmart Inc.
WBA     30                Walgreens Boots Alliance Inc.

In [21]:
#PART B
cursor.execute('SELECT min(date) as first, max(date) as last FROM daily_measures')
rows = cursor.fetchall()
rows

[('2017-01-03', '2017-12-29')]

In [44]:
#PART C
cursor.execute('SELECT date, closing FROM daily_measures WHERE ticker_id=3 ORDER BY date')
rows = cursor.fetchall()
df = pd.DataFrame(rows)
df.columns = ['date','closing price']
df.set_index('date' , inplace = True)
df.loc[df['closing price'].idxmax()]

closing price    176.42
Name: 2017-12-18, dtype: float64

In [49]:
#PART D
df['pct_change_oneDay'] = df['closing price'].pct_change()
df.loc[df['pct_change_oneDay'].idxmax()]

closing price        127.159749
pct_change_oneDay      0.060981
Name: 2017-02-01, dtype: float64